.address(class=!isMainPage && 'address--secondary')
	address._wrapper
		strong._title Приглашаем  #[br]к сотрудничеству дилеров!

		a._link(href="geo:59.938731,30.323062") ул. Большая
			br
			| Конюшенная, д. 19/8
			br
			span._city Санкт-Петербург

	iframe._map#map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037872533277!2d30.320858716096975!3d59.93871648187614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1682254154821!5m2!1sru!2sru" width=320 height=362 allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" hidden)

	noscript
		+adaptivePic({className: '', alt: 'Мы на карте.', src: 'img/address/location', ext: 'png', sizes: [[1440, 400], [768, 400], [320, 362]], picClass: 'address__map', medias: ['(min-width: 1280px)', '(min-width: 700px)']})


	