@use "./variables.scss" as *;

.above-container__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-inline: auto;
}

.above-container__subtitle {
	color: $light-black;
	font-family: $font-additional;
	font-size: 12px;
	line-height: 16px;
	margin-inline: auto;
}

.above-container {
	display: flex;
	flex-direction: column;
}

.above-container__icon {
	margin-inline: auto;
}

@media (width >= $tablet-width) {
	.above-container {
		margin-top: 120px;
		height: auto;
		border: 2px solid #F2F2F2;
		padding-block: 52px 38px;
		padding-inline: 38px;
	}

	.above-container__icon {
		width: 60px;
		height: 60px;
	}

	.above-container__title {
		width: 50%;
		text-align: center;
		font-size: 20px;
		line-height: 22px;
		margin-block: 49px 23px;
		margin-inline: auto;
	}

	.above-container__subtitle {
		width: 70%;
		text-align: center;
		margin: 0;
		font-size: 16px;
		line-height: 18px;
		margin-inline: auto;
		margin-bottom: 87px;
	}
}
