@use "./variables.scss" as *;
@use "mixins" as *;

.promo {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50% 50%;
	align-items: center;
	justify-items: center;
	margin-top: 54px;
	margin-inline: var(--side-offset);
	height: 280px;
	background-color: $accent;
	isolation: isolate;
	position: relative;
	opacity: 1;

	&::before {
	content: "";
	position: absolute;
	inset: 0 0 auto;
	width: 100%;
	height: 280px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.15;
	z-index: -1;

	@include adaptive-bg('../img/gift', "png");
	}

	margin-bottom: 35px;
}

.promo__title {
	font-family: $font-additional;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	width: 60%;
}

.promo__icon {
	align-self: flex-end;
}


@media (width >= $tablet-width) {
	.promo {
		max-height: 200px;
		margin: 0;
		display: flex;
		justify-content: center;

		&::before {
			content: "";
			position: absolute;
			inset: 0 0 auto;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			opacity: 0.15;
			z-index: -1;

			@include adaptive-bg('../img/gift', "png");
		}
	}

	.promo__icon {
		width: 80px;
		height: 80px;
		align-self: center;
		margin-left: -30px;
	}

	.promo__title {
		margin: 0;
		padding-left: 264px;
		text-align: left;
		font-size: 16px;
		line-height: 20px;
	}
}

@media (width >=$desktop-width) {
	.promo {
		flex-direction: column;
		height: auto;
		margin: 0;
		padding: 0;
	}

	.promo__icon {
		margin: 0;
		padding: 0;
	}
}
