@use "./variables.scss" as *;

.catalog__additional__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
};

.extra-good__name {
    line-height: 16px;
    color: #222222;
    text-transform: uppercase;
}

.extra-good__amount, .extra-good__price {
    font-family: $font-additional;
    font-size: 14px;
    line-height: 14px;
    color: $light-black;
}

.extra-good abbr {
    text-decoration: none;
}

.extra-good__cta__button {
    line-height: 20px;
}
