@use "./variables.scss" as *;

.button {
    font-family: $font-main;
    text-transform: uppercase;
    text-decoration: none; // for anchor tags
    color: #fff;

    background-color: $accent; 
    border: none; // for button tags
    cursor: pointer; // for button tags

    display: inline-flex;

    &:is(:hover, :focus-visible) {

    }

    &:active {

    }

    &--secondary {
        background-color: #dedede;
        color: #000;

        &:is(:hover, :focus-visible) {

        }
    
        &:active {
    
        }
    }
}

// button button--secondary


