@use "./variables.scss" as *;

.footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-inline: var(--side-offset);
    background-color: $white;
    padding-block: 40px;
}

.footer__logo {
    text-decoration: none;
    margin: auto;
    color: $light-black;
}

.footer__logo-icon {
    &:is(:hover, :focus, :focus-visible) {
        color: #3E3E3E;
    };

    &:is(:active) {
        color: #6B6B6B;
    }
};

.footer__socials {
    display: flex;
    list-style-type: none;
    gap: 26px;
    padding-left: 0;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: calc(50% - 140px);
        width: 280px;
        height: 0;
        border: 1px solid #D9D9D9;
    }
};

.footer__link {
    font-family: $font-additional;
    text-decoration: none;
    line-height: 19px;
    color: $light-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 140px);
        width: 280px;
        height: 0;
        border: 1px solid #D9D9D9;
    }

    &:is(:hover, :focus-visible) .footer__icon--academy{
        color: $accent;
    }

    &:active .footer__icon--academy{
        color: $accent;
        opacity: 0.3;
    }

    &:active {
        color: #4444444D;
    }
}



.footer__social {
    color: inherit;
    transition: color 0.1s ease-in-out;

    &:is(:hover, :focus-visible) {
        color: $accent;
    }

    &:active {
        color: $accent;
        opacity: 0.3;
    }
}


