@use "variables" as *;


.header {
	width: 100%;
	z-index: 10;
	color: hsl(0deg 0% 0%);
	position: relative;
	border-bottom: 1px solid hsl(0deg 0% 90%);
	isolation: isolate;

	&--overlay {
		border-bottom: none;
	}

	&--js {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
	}
}


.header__toggle {
	display: flex;
	background: none;
	border: none;
	margin: 0;
	margin-left: auto;
	padding: 0;
	cursor: pointer;
}


.header__link {
	color: var(--link-color, inherit);

	font: {
		weight: 500;
		size: 20px;
	}

	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	text-align: center;
	transition: opacity 0.3s ease-in;

	&:is(:hover, :focus-visible) {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.header__logo {
	&:is(:hover, :focus, :focus-visible){
		opacity: 0.8;
	};

	&:is(:active){
		opacity: 0.6;
	};
};

@media (width < $tablet-width) {
	.header__logo {
		margin-left: var(--side-offset);
		padding-block: 11px 17px;
 	}

	.header__list {
		display: grid;
		background-color: #ffffff;
	};

	.header--js .header__list {
		position: absolute;
		width: 100%;
		bottom: 100%;
		left: 0;
		right: 0;
		transition-property: transform, opacity;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
		z-index: -1;
		opacity: 0;
	}

	.header__toggle[aria-expanded="true"]+.header__list {
		opacity: 1;
		transform: translateY(calc(100% + 65px));
	}

	.header__link {
		padding-block: 22px;
		border-top: 1px solid hsl(0deg 0% 90%);


	}
}

@media (width >= $tablet-width) {
	.header {
		padding-inline: var(--side-offset);
		border: none;
		align-items: start;
	}

	.header__toggle {
		display: none;
	};

	.header__list {
		display: flex;
		gap: 36px;
	}

	.header__link {
		padding-block: 18px 8px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.33;   }

	.header__link[aria-current="page"] {
		border-bottom: 2px solid var(--accent);
	}
}

@media (width >=$desktop-width) {
	.header {
		padding-block: 54px 0;

		&--overlay {
			position: absolute;
			top: 0;

			--link-color: #{$white};
			--accent: #{$white};
		}
	}

	.header__list {
		gap: 37px;
	}

	.header__link {
		font-size: 20px;
		line-height: 30px;
	}

	.header__nav {
		margin-top: -3px;
	}
}
