@use "variables" as *;

.line-section {
	margin: 0;
	padding: 0 var(--side-offset);
	border-width: 2px 0 0;
	border-style: solid;
	border-color: var(--accent);

	--title-air: var(--side-offset);

	margin-top: 36px;
}

.line-section__title {
	padding-inline: var(--title-air);
	background-color: var(--back);
	width: fit-content;
	margin-block: -0.6em 34px;
	margin-inline-start: calc(0px - var(--title-air));
}

@media (width >= $tablet-width) {
	.line-section {
		--title-air: 40px;
	}

	.line-section__title {
		br {
			display: none;
		}
	}
}

@media ($tablet-width <= width < $desktop-width) {
	.line-section--form {
		padding-inline: calc(var(--side-offset) + var(--title-air));
	}
}
