@use "variables" as *;

.logo {
	display: flex;
	align-items: center;
	gap: 12px;
	color: inherit;
}

.logo__type {
	position: absolute;
	left: calc(50% - 102px / 2);
	top: 24px;
};


.logo__icon {
	display: none;

	&--small {
		display: block;
	}
}

@media (width >= $tablet-width) {
	.logo  {
		gap: 14px;
	}

	.logo__mascot {
		width: 61px;
		height: 51px;
	}

	.logo__icon {
		&--small {
			display: none;
		}

		&--medium {
			display: block;
		}
	}

	.logo__type {
		position: static;
		margin-top: 6px;
	};
}

@media (width >= $desktop-width) {
	.logo__mascot {
		width: 71px;
		height: 60px;
	}

	.logo__icon {
		&--medium {
			display: none;
		};

		&--full {
			display: block;
		}
	}
}
