@use "variables" as *;

.page {
	--side-offset: 20px;
	--accent: #{$accent};
	--back: hsl(0deg 0% 100%);

	font: {
		family: $font-main;
		weight: 400;
		size: 16px;
	}

	line-height: calc(24 / 16);
	color: #000000;
	background-color: var(--back);
}

.page__body {
	margin: 0;
}

.page__title {
	font-weight: 400;
	font-size: 36px;
	line-height: 1;
	color: #000000;
}

.page__subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 1;
	color: #000000;
}

.page__no-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.page__hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@media (width >=$tablet-width) {
	.page {
		--side-offset: 30px;
	}

	.page__title {
		font-size: 60px;
	}

	.page__subtitle {
		font-size: 36px;
	}
}

@media (width >=$desktop-width) {
	.page {
		--side-offset: calc(50% - #{$container-width} / 2);
	}

	.page__main {
		margin-bottom: -97px;
	}
}
