li.above-container
	svg._icon(width=30 height=30 aria-hidden="true" fill="currentColor")
		use(href=`img/catalog.svg#plus`)
	h3._title Показать еще 100500 товаров
	p._subtitle На самом деле вкусов гораздо больше!
	button._button.button.button--secondary показать все
