$accent: hsl(97, 53%, 47%);
$light-black: #444444;
// $main-light: hsl(0deg 0% 100%);

// $page-bg: hsl(0deg 0% 95%);

// $earlyBP: 34rem;
// $bpTablet: 42rem;
// $bp🖥️: 85rem;


$font-main: "Oswald", sans-serif;
$font-additional: "Lato", sans-serif;

