section.intro
	h1._title Функциональное питание для котов
	p._subtitle Занялся собой? Займись котом!

	+adaptivePic({className: 'intro__img', loading: 'eager', alt: 'Наш вкусный корм.', src: 'img/index-can', ext: 'png', sizes: [[552, 499], [709, 609], [280, 270]], picClass: 'intro__pic', medias: ['(min-width: 1280px)', '(min-width: 700px)']})

	a.button._button(href="catalog.html") Подобрать программу
