extends common/base

block variables
	-
		title = `Подбор программы | ${PROJECT_NAME}`
		currentPage = 'form.html'

block main
	section.form
		h1._title Подбор программы
		p._subtitle Заполните анкету, и мы подберем <br> программу питания для вашего кота
		form.main(action="https://echo.htmlacademy.ru/courses" method="post")
			fieldset._personal
				legend.page__hidden Введите данные о Вашем котике.
				._input-wrapper 
					label._title(for="name") Имя:*
					input._input(type="text" name="name" placeholder="Барсик" id="name" required)
				._input-wrapper 
					label._title(for="weight") Вес (кг):*
					input._input(type="number" name="weight" placeholder="7" id="weight" required)
				._input-wrapper 
					label._title(for="age") Возраст (лет):
					input._input(type="number" name="age" placeholder="7" id="age" required)
			fieldset.goals
				legend.page__hidden Выберите цель для Вашего котика.

				label._choose.-radio
					input._input.-radio(type="radio" name="goal" id="loss" value="loss" checked)
					span._label Похудение
				label._choose.-radio
					input._input.-radio(type="radio" name="goal" id="gain" value="gain")
					span._label Набор массы
				label._choose.-radio
					input._input.-radio(type="radio" name="goal" id="none" value="none")
					span._label Не знаю (Нужен ваш совет)
			fieldset.contacts 
				legend._form-title Контактные данные (владельца кота)
				._input-wrapper 
					label._title(for="email") E-mail:*
					input._input(type="email" name="email" placeholder="кuklachev@gmail.com" id="email" required)
				._input-wrapper 
					label._title(for="tel") Телефон:*
					input._input(type="tel" name="tel" placeholder="8 (960) 900-60-90" id="tel" required)
			.about
				label._title(for="comment") Комментарий
				textarea._input(name="comment" placeholder="Расскажите обо всех повадках кота" id="comment" cols="30" rows="10") 
			fieldset.additionals
				legend._title Дополнительно
				label._choose.-checkbox
					input._input.-checkbox(type="checkbox" name="sweetener" id="sweetener" value="sweetener" checked)
					span._label сахарозаменитель
				label._choose.-checkbox
					input._input.-checkbox(type="checkbox" name="milk" id="milk" value="milk")
					span._label молоко
				label._choose.-checkbox
					input._input.-checkbox(type="checkbox" name="water" id="water" value="water")
					span._label питьевая вода
				label._choose.-checkbox
					input._input.-checkbox(type="checkbox" name="vitamins" id="vitamins" value="vitamins")
					span._label витамины
			button.button(type="submit") отправить заявку
			p._required * — Обязательные поля
				