extends common/base

block variables
	-
		title = `Подбор программы | ${PROJECT_NAME}`
		currentPage = 'form.html'

block main
	section.form-section
		h1._title.page__title Подбор программы
		p._subtitle Заполните анкету, и мы подберем <br> программу питания для вашего кота
		form.form(action="https://echo.htmlacademy.ru/courses" method="post")
			._section-wrapper
				include includes/form/personal
				include includes/form/goals
			include includes/form/contacts
			include includes/form/extra
			include includes/form/additional
			div._footer
				button._button.button(type="submit") отправить заявку
				p._required * — Обязательные поля

