.showcase__slider 
    +adaptivePic({className: 'showcase__before-img', loading: 'eager', alt: 'Ваш кот до наших программ.', src: '../img/slider/before', ext: 'png', sizes: [[280, 256], [560, 512]], picClass: 'showcase__before-pic', medias: ['(min-width: 1000px)', '(min-width: 700px)']})
    +adaptivePic({className: 'showcase__after-img', loading: 'eager', alt: 'Ваш кот после наших программ.', src: '../img/slider/after', ext: 'png', sizes: [[280, 256], [560, 512]], picClass: 'showcase__after-pic', medias: ['(min-width: 1000px)', '(min-width: 700px)']})
    button.showcase__button