@use "./variables.scss" as *;

.features__list {
	padding: 0;
	display: grid;
	grid-row-gap: 20px;
};

.features__title {
	margin: 0;
	margin-block: 15px 40px;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
};

.features__text {
	font-family: $font-additional;
	font-size: 14px;
	line-height: 18px;
	list-style-type: none;
	color: $light-black;
	margin: 0;
};


.features {
	margin-inline: var(--side-offset);
	padding-bottom: 30px;
};

.features__feature {
	display: grid;
	grid-template-columns: 60px auto;
	grid-column-gap: 20px;
	align-items: center
};

.features__icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: $accent;
	grid-column: 1/2;
};

.features__icon {
	color: $white;
};


@media (width >= $tablet-width) {
	.features__title {
		font-size: 60px;
		line-height: 60px;
		margin-block: 45px 40px;
	}

	.features__list {
		counter-reset: example 0;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		column-gap: 49px;
		row-gap: 44px;
	}

	.features__feature {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-block: 32px 60px;

		&::before {
			position: absolute;
			content: counter(example);
			counter-increment: example 1;
			font-family: $font-main;
			font-size: 280px;
			line-height: 280px;
			color: #F2F2F2;
			z-index: -1;
			bottom: 0;
			left: 115px;
		};
	};

	.features__icon-wrapper {
		margin-bottom: 30px;
		width: 80px;
		height: 80px;
	};

	.features__icon {
		width: 30px;
		height: 32px;
	}

	.features__text {
		width: 78%;
		font-size: 16px;
		line-height: 24px;
	}
}


@media (width >= $desktop-width) {
	.features__title {
		margin-block: 76px 40px;
	}

	.features__list {
		gap: 80px;
		display: flex;
	}

	.features__text {
		width: 100%;
	}
}