@use "./variables.scss" as *;

.contacts {
	// padding: 14px 40px 14px 15px;
}

.contacts__title {
	margin-top: -0.5em;
	line-height: 26px;
}

.contacts__input {
	padding: 14px 15px;
}

.contacts__container {
	font-size: 24px;
	line-height: 26px;
	display: flex;
	flex-direction: column;
	gap: 13px;
}

// .contacts__title {
// 	margin: 0;
// 	margin-bottom: 35px;
// }

// @media (width >= $tablet-width) {

// }

// @media (width >=$desktop-width) {

// }
