@use "./variables.scss" as *;

.extra {
	// border: none;
	// padding-inline: var(--side-offset);
}

.extra__legend {
	// display: flex;
	// flex-direction: column;
	// gap: 14px;

	// margin: 0;
	// padding: 0;

	// width: 100%;
}

.extra__label {
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 38px;
}

.extra__input {
	min-width: 100%;
	border: none;
	resize: none;
	outline: 1px solid #E7E7E7;
	font-family: $font-main;
	font-size: 16px;
	line-height: 18px;
	padding: 10px 15px 0 12px;
	color: #000000;

	&:is(:hover) {
		outline: 1px solid #CDCDCD;
	}

	&:is(:focus, :focus-visible) {
		outline: 2px solid $light-black;
	}

	&--error {
		outline: 2px solid #FF8282;
	}
}

@media (width >= $tablet-width) {

}

@media (width >=$desktop-width) {

}
