@use "./variables.scss" as *;

.form-section {
	display: flex;
	flex-direction: column;
}

.form-section__title {
	padding: 0;
	margin: 0;
	margin-block: 27px 37px;
	padding-inline: var(--side-offset);
}

.form-section__subtitle {
	padding: 0;
	margin: 0;
	margin-bottom: 39px;
	padding-inline: var(--side-offset);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.form {
	display: flex;
	flex-direction: column;
}

.form__footer {
	padding-inline: var(--side-offset);
	display: grid;
	place-items: center;
}

.form__button {
	font-size: 16px;
	line-height: 20px;
	width: 100%;
}

.form__required {
	font-family: $font-additional;
	font-size: 14px;
	line-height: 16px;
	padding-block: 8px 17px;
}

@media (width >= $tablet-width) {
	.form-section {
		margin-bottom: 66px;
	}

	.form__footer {
		grid-template-columns: 282px auto;
		justify-items: start;
		gap: 64px;
		margin-inline: 40px;
		margin-top: 12px;
	}

	.form__button {
		width: 100%;
		min-height: 52px;
		font-size: 20px;
		line-height: 0px;
	}

	.form__required {
		margin: 0;
		padding-block: 23px 27px;
		font-size: 16px;
		line-height: 16px;
	}

	.form-section__title {
		margin-top: 65px;
		margin-left: 39px;
		margin-bottom: 53px;
	}

	.form-section__subtitle {
		margin-bottom: 64px;
		margin-left: 39px;
		font-size: 20px;
		line-height: 30px;
	}
}

@media (width >= $desktop-width) {
	.form-section__title {
		margin-left: calc(var(--side-offset));
		padding-top: 8px;
		padding-left: 0;
	}

	.form-section__subtitle {
		margin-left: calc(var(--side-offset));
		padding-top: 4px;
		padding-left: 0;
	}

	.form__section-wrapper {
		margin-inline: calc(var(--side-offset) - 41px);
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 40px;
		margin-bottom: 40px;
	}

	.form__footer {
		margin-top: 22px;
		grid-template-columns: auto auto;
		margin-inline: 0;
		gap: 10px;
		margin-bottom: 8px;
	}

	.form__button {
		width: 95%;
	}

	.form__required {
		margin-left: 45px;
	}
}
