@use "./variables.scss" as *;

.goals {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 13px;
	margin: 0;
	padding: 0;
	padding-block: 22px 19px;
	padding-inline: var(--side-offset);
	border-bottom: 1px solid #D9D9D9;
};

.goals__label {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;

	.goals__input:disabled ~ &, .goals__input--disabled ~ &{
		opacity: 0.3;
	}
};

.goals__choose {
	display: flex;
	align-items: center;
	gap: 15px;

	&:hover .goals__radio {
		border: 1px solid #BABABA;
	}
}

.goals__radio {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #CDCDCD;
	border-radius: 50%;
	position: relative;

	.goals__input:checked + &{
		&::before {
			content: "";
			position: absolute;
			top: calc(50% - 6px);
			left: calc(50% - 6px);
			width: 13px;
			height: 13px;
			background-color: $accent;
			border-radius: 50%;
		}
	}

	.goals__input:focus + & {
		border-color: $accent;
	}

	.goals__input:disabled + &, .goals__input--disabled + &{
		opacity: 0.3;
	}

	.goals__input:disabled:checked + &, .goals__input--disabled:checked + &{
		opacity: 0.3;

		&::before {
			content: "";
			position: absolute;
			top: calc(50% - 9px);
			left: calc(50% - 9px);
			width: 18px;
			height: 18px;
			background-color: $accent;
			border-radius: 50%;
		}
	}
}

@media (width >= $tablet-width) {

}

@media (width >=$desktop-width) {

}
