@use "./variables.scss" as *;

.personal {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 14px;

	margin: 0;
	padding: 0;

	padding-bottom: 24px;
	padding-inline: var(--side-offset);

	border-bottom: 1px solid #D9D9D9;
}

@media (width >= $tablet-width) {

}

@media (width >=$desktop-width) {

}
