div( role="group" aria-labelledby="extra-title").line-section.-form.extra
	h2#extra-title._title.page__subtitle.extra__title Комментарий
	textarea.extra__input.input(name="comment" placeholder="Расскажите обо всех повадках кота" cols="30" rows="7" aria-labelledby="extra-title").
